.header {
    padding: 20px; 
    text-align: center;
    background-color:rgb(61, 61, 61);
    color: rgb(231, 231, 231);
}
.leftC {
    width: 50%;
    padding: 10px;
}
.rightC {
    text-align:left;
    width: 50%;
    height: 600px;
    float: center;
    padding-left: 33%; 
}
.footer {
    background-color: rgb(61, 61, 61);
    color: rgb(231, 231, 231);
    padding: 10px;
    text-align: center;
}